.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#danmaku-symphony {
  border: 5px solid white;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

body {
  background-image:url('./assets/imperishable_night.jpg');
  height: 100%;
}

html {
  height: 100%;
}